// ===== Button.module.scss =====
@use "@/styles/variables.scss" as *;

.try_ul {
  ::marker {
    content: "■";
  }
}

.btn {
  position: relative;
  z-index: 1; // 建立層級
  background: red;
  width: 200px;
  border-radius: 12px;
  overflow: hidden;
  border: 6px solid green;

  transition: font-size 0.3s;

  &:hover {
    font-size: 105px;
  }

  // ✅ 手機尺寸以下
  @include respond(mobile) {
    font-size: 0.75rem;
    padding: 6px 10px;
  }

  // ✅ 平板尺寸以下
  @include respond(tablet) {
    font-size: 0.875rem;
    padding: 8px 14px;
  }
}
